[mysqld]

user		= mysql
socket		= /var/run/mysqld/mysqld-mysql-a.sock
port		= 3310
basedir		= /usr
datadir		= /var/lib/mysql-mysql-a
tmpdir		= /tmp/mysql-mysql-a
skip-external-locking
bind-address		= 0.0.0.0
key_buffer		= 16M
max_allowed_packet	= 16M
thread_stack		= 192K
thread_cache_size       = 8
myisam-recover         = BACKUP
max_connections        = 100
#table_cache            = 64
#thread_concurrency     = 10
# * Query Cache Configuration
query_cache_limit	= 1M
query_cache_size        = 16M
# * Logging and Replication
log_error                = /var/log/mysql/mysql-a-error.log

server-id   = 1
log_bin     = /var/lib/mysql-mysql-a/mysql-a_side_bin.log
expire_logs_days = 10
max_binlog_size = 100M
binlog-ignore-db=mysql            
binlog-ignore-db=test

report-host=aside.local

master-host = 127.0.0.1
master-user = ripley
master-password = slavepassword
master-port = 3310



